*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Lato', sans-serif;
}
.navbar{
    width: 100%;
    border: 1px solid  black;
    height: 70px;
    background-color: black;
    color: white;
    

}
.top-menu{
    border: 1px solid  black;
    display:flex;
    justify-content:space-between;
    width: 40%;
    padding: 0px 20px;
    height: 100%;
    align-items: center;
    
}
.logo{
   flex: 1;
    border: 1px solid black;
    height: 100%;
    background-image: url("http://www.commutatus.com/images/Group.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
   
}
.generator{ 
    flex: 1;
    margin-left: 40px;
    color: white;
}
.archive{
    flex: 1;
    color: white;
    margin-left: 40px;
}

.maincontent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divimage{
    
    
   
}
#button{
    background-color:rgb(69, 175, 218);
    color: white;
    width: 110px;
    height: 40px;
    margin: 80px;
    border-radius: 5px;
    
}

.logbox{
    width: 60%;
    border: 1px solid black;
    height: 120px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title{
    height: 100%;
    flex: 2;
}
.timestamp{
    height: 100%;
    flex: 1;
    border-left: 1px solid black;

}