*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Lato', sans-serif;
}
.navbar{
    width: 100%;
    border: 1px solid  black;
    height: 70px;
    background-color: black;
    color: white;
    

}
.top-menu{
    border: 1px solid  black;
    display:flex;
    justify-content:space-between;
    width: 40%;
    padding: 0px 20px;
    height: 100%;
    align-items: center;
    
}
.logo{
   flex: 1;
    border: 1px solid black;
    height: 100%;
    background-image: url("http://www.commutatus.com/images/Group.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
   
}
.generator{ 
    flex: 1;
    margin-left: 40px;
    color: white;
}
.archive{
    flex: 1;
    color: white;
    margin-left: 40px;
}

.main-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divimage{
    
    
   
}
/* #button{
    background-color:rgb(69, 175, 218);
    color: white;
    width: 110px;
    height: 40px;
    margin: 80px;
    margin-bottom: 40px;
    border-radius: 5px;
    
} */

.logbox{
    width: 60%;
    box-shadow: 0 2px 2px 0 rgba(62, 63, 67, 0.5);
    box-shadow: gray;
    height: 120px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title{
    height: 100%;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time{
    height: 100%;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.last-view{
flex: 1;
display: flex;
align-items: center;
color: gray;
}
.date{
    flex: 1;
    
    display: flex;
align-items: center;
}
.timestamp{
    display: flex;
    align-items: center;
flex: 1;
}

.image-show{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 300px;
    
    border: 1px solid purple;
    
}
.first-page-image{
    margin-top: 50px;
}

.loader{
    position: fixed;
    top: 400px;
    display: none;
}